obj/Debug/RegularAssessmentTranscriptFixedRank_KCBS.csproj.FileListAbsolute.txt
obj/Debug/RegularAssessmentTranscriptFixedRank_KCBS.csproj.CopyComplete
obj/Debug/RegularAssessmentTranscriptFixedRank.DemeritItemKCBS.resources
